<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DearMama.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD670D201F19B2D200F65363</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD670D341F19B2D200F65363</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD670D3F1F19B2D200F65363</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
